<!-- Template for App View -->
<section role="app">
  <nav role="contacts">
    <button type="button" class="contacts__add--btn"><i class="fa fa-lg fa-plus"></i> New Contact</button>
    <div class="contacts__content">
      <p class="loading">
        Loading Contacts...
      </p>

      <ul class="contact-list">
        <li>
          <a class="contact-item">
            <div class="contact-item__thumb"><i class="fa fa-2x fa-user user-fpo"></i></div>
            <div class="contact-item__name"><span>Lorem Ipsum</span></div>
          </a>
        </li>
        <li>
          <a class="contact-item">
            <div class="contact-item__thumb"><img class="contact-item__thumb-img" src="https://1.gravatar.com/avatar/4c8258eff84bf6cf4fe773a1a991c6ac?d=https%3A%2F%2Fidenticons.github.com%2Fdff2fd4cf23d254bab904f1350b587c5.png&r=x&s=50" /></div>
            <div class="contact-item__name"><span>Lorem Ipsum</span></div>
          </a>
        </li>
      </ul>

    </div>
  </nav>
  <section role="card">
    <p class="loading">
      Loading Card...
    </p>

    <!-- FORM ROW -->
    <form id="cfm" class="card__form" role="form">

      <!-- NAME -->
      <div class="card__name">
        <input type="text" id="cfm__name" class="card__in--name card__in card__in--full" placeholder="Name" tabindex="1"/>
        <hr/>
      </div>


      <!-- PICTURE -->
      <div class="card__pic fpo">
        <div class="card__pic--img-wrap"><img class="card__pic--img" src="https://1.gravatar.com/avatar/4c8258eff84bf6cf4fe773a1a991c6ac?d=https%3A%2F%2Fidenticons.github.com%2Fdff2fd4cf23d254bab904f1350b587c5.png&r=x&s=300" alt="" /></div>
        <div class="card__pic--fpo"><i class="fa fa-5x fa-user user-fpo"></i></div>
        <input id="cfm__pic" class="card__in--pic card__in card__in--full" type="url" placeholder="Image URL"/>
      </div>
      <div class="card__group--right">
        <div class="card__sab">
          <div class="card__sex">
            <label for="cfm__sex">Sex</label>
            <select id="cfm__sex" class="card__in--sex" tabindex="2">
              <option value="">Select</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="card__dob">
            <label>Birthday</label>
            <select tabindex="4" class="card__in--dob mm xcard__in" id="cfm__dob--mm">
              <option value="">MM</option>
            </select> /
            <select tabindex="5" class="card__in--dob dd xcard__in" id="cfm__dob--dd">
              <option value="">DD</option>
            </select> /
            <select tabindex="6" class="card__in--dob yyyy xcard__in" id="cfm__dob--yyyy">
              <option value="">YYYY</option>
            </select>

          </div>
          <div class="card__age hide">
            <label>Age</label>
            <input id="cfm__age" type="text" placeholder="Age" tabindex="3" maxlength="3" />
          </div>

        </div>

        <div class="card__address">
          <label>Address</label>
          <p>
            <input id="card__street" class="card__in--street card__in card__in--full" id="cfm__street" type="text" placeholder="123 Main Street" />
          </p>
          <p>
            <input type="text" placeholder="City" class="card__in--city card__in"/>
            <select class="card__in--state" id="cfm__state">
              <option value="">State</option>
            </select>
            <input placeholder="Zip" class="card__in--zip card__in" id="cfm__zip" maxlength="6" type="text"/>
          </p>
        </div>
        <div class="card__phone">
          <label>Phone</label>
          <input type="tel" placeholder="555-555-5555" class="card__in--phone card__in" maxlength="12" id="cfm__phone"/>
        </div>
        <div class="card__email">
          <label>Email</label>
          <input type="email" placeholder="you@email.com" maxlength="256" id="cfm__email" class="card__in--email card__in"/>
        </div>

      </div>

      <div class="card__group--btn">
        <button type="button" class="card__random" id="cfm__random"><i class="fa fa-lg fa-magic"></i> Random Data</button>
        <button type="submit" class="card__save" id="cfm__save"><i class="fa fa-lg fa-save"></i> Save Contact</button>
      </div>
    </form>

  </section>
</section>
