<!-- Template for App View -->
<section role="app">
  <nav role="contacts">
    <button type="button" class="contact-new-btn"><i class="fa fa-lg fa-plus"></i> New Contact</button>
    <div class="contacts__content">
      <p class="loading">
        Loading Contacts...
      </p>

      <ul class="contact-list">
        <li>
          <a class="contact-item">
            <div class="contact-item__thumb"><i class="fa fa-2x fa-user user-fpo"></i></div>
            <div class="contact-item__name"><span>Lorem Ipsum</span></div>
          </a>
        </li>
        <li>
          <a class="contact-item">
            <div class="contact-item__thumb"><img class="contact-item__thumb-img" src="https://1.gravatar.com/avatar/4c8258eff84bf6cf4fe773a1a991c6ac?d=https%3A%2F%2Fidenticons.github.com%2Fdff2fd4cf23d254bab904f1350b587c5.png&r=x&s=50" /></div>
            <div class="contact-item__name"><span>Lorem Ipsum</span></div>
          </a>
        </li>
      </ul>

    </div>
  </nav>
  <section role="display">
    <p class="loading">
      Loading Info...
    </p>

    <form id="contact-form">
      <div class="contact-form__thumb">
        <div class="contact-form__thumb--fpo"><i class="fa fa-3x fa-user user-fpo"></i></div>
        <input type="text" placeholder="Image URL (square)"/>
      </div>
      <div class="contact-form__name">
        <input placeholder="Name" tabindex="1"/>
      </div>
      <div class="contact-form__sab">
        <div class="contact-form__sex">
          <select tabindex="2">
            <option value="">Select</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div class="contact-form__age">
          <input type="text" placeholder="Age" tabindex="3" maxlength="3" />
        </div>
        <div class="contact-form__birthday">
          <select tabindex="4" class="mm">
            <option value="">MM</option>
          </select> /
          <select tabindex="5" class="dd">
            <option value="">DD</option>
          </select> /
          <select tabindex="6" class="yyyy">
            <option value="">YYYY</option>
          </select>
        </div>
      </div>
      <div class="contact-form__address">
        Address:<br/>
        <input type="text" placeholder="123 Main Street" /><br/>
        <input type="text" placeholder="City" />
        <input type="text" placeholder="State" />
        <input type="text" placeholder="Zip" />
      </div>
      <div class="contact-form__phone">
        <input type="text" placeholder="555-555-5555" maxlength="12" />
      </div>
      <div class="contact-form__email">
        <input type="text" placeholder="you@email.com" maxlength="256" />
      </div>

    </form>

  </section>
</section>
