<div>
  <button type="button" class="contacts__add--btn"><i class="fa fa-lg fa-plus"></i> New</button>
  <div class="contacts__content">

    <!--
    <p class="loading">
      Loading Contacts...
    </p>
    -->

    <ul class="contact-list">

    <!--
      <li>

        <a class="contact-item">
          <div class="contact-item__thumb"><i class="fa fa-2x fa-user user-fpo"></i></div>
          <div class="contact-item__name"><span>Lorem Ipsum</span></div>
        </a>
      </li>
      <li>
        <a class="contact-item">
          <div class="contact-item__thumb"><img class="contact-item__thumb-img" src="https://1.gravatar.com/avatar/4c8258eff84bf6cf4fe773a1a991c6ac?d=https%3A%2F%2Fidenticons.github.com%2Fdff2fd4cf23d254bab904f1350b587c5.png&r=x&s=50" /></div>
          <div class="contact-item__name"><span>Lorem Ipsum</span></div>
        </a>
      </li>
      -->
    </ul>

  </div>
</div>
